body {
	margin: 0;
}

header {
	height: 4vh;
	display: flex;
	align-items: center;
	padding: 10px;
	background-color: #f8f9fa;
	border-bottom: 1px solid #dee2e6;
}

header .icon {
	width: 2rem;
	height: 2rem;
	margin-right: 10px;
}

header h1 {
	font-size: 1rem;
	margin: 0;
}

footer {
	height: 4vh;
	display: flex;
    justify-content: center;
    align-items: center;
}

footer p {
	margin: 0;
	padding-top: 0;
	text-align:center;
	font-size: 0.7rem;
	color: #BDBDBD;
}

#map {
	width: 100%;
	height: 88vh;
}

.icon {
	height: 100%;
}

.overlay {
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
	padding: 15px;
	position: relative;
	word-wrap: break-word; /* 긴 텍스트가 칸을 넘어가지 않도록 설정 */
}

.overlay p {
	font-size: 0.7rem;
}

.overlay .info {
	font-size: 14px;
	line-height: 1.5;
}

.overlay .info p {
	margin: 5px 0;
}

.overlay .info p strong {
	display: inline-block;
	width: 140px;
}

.overlay .close {
	position: absolute;
	top: 10px;
	right: 10px;
	cursor: pointer;
	font-size: 16px;
	border-radius: 50%;
	width: 24px;
	height: 24px;
	text-align: center;
	line-height: 24px;
}


#loading-bar {
    width: 100%;
    height: 4px;
    background: #f3f3f3;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 9999;
}

#loading-bar::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #3498db;
    animation: loading 1.5s infinite;
}

@keyframes loading {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(100%);
    }
}

.version {
	font-size: 0.6rem !important;
}

.date {
	font-size: 0.6rem !important;
	color: #BDBDBD;
	position: fixed;
	right: 5px;
}

#search-container {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 9;
    background-color: white;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}

#search-input {
    width: 300px;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.no-results{
	color: red;
	font-size: 0.6rem;
	display: none;
	padding-top: 3px;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 17px;
  transform: translateY(-50%);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.clear-button.visible {
  display: flex;
}